body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #171717;
    background: rgb(14,12,14);
    background: linear-gradient(162deg, rgba(14,12,14,1) 0%, rgba(21,0,42,1) 48%, rgba(0,0,24,1) 100%);
    color: #fff;
    height: 100vh;
}


header {
    padding-top: 80px;
    font-size: 34px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding-top: 20vh;
    margin-left: 30vw;
}

.subheading {
    font-size: 32px;
    font-weight: normal;
    text-align: left;
}

.name {
    font-size: 96px;
    font-weight: bold;
    text-align: left; /* Center the name within its container */
}

.navbar {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 20px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.navbar > li {
    margin: 0 15px;
}

.navbar > li > a {
    color: #d735ff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.navbar > li > a:hover {
    color: #9300b8;
    background-color: transparent;
}
main {
    padding: 20px;
}

footer {
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #d735ff;
    text-decoration: none;
}

a:hover {
    color: #9300b8;
    text-decoration: none;
    transition: color 0.2s ease;
}

.post-box-right {
    border: 2px solid #fff;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.post-box-left {
    border: 2px solid #fff;
    padding: 10px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.post-box:hover {
    background-color: #2a2a2a;
    transition: 0.2s ease;
}
