
.card {
    width: 90vw;
    height: 40vw;
    border-radius: 4px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card p {
    height: 100%;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
    transition: all .6s;
    border: 1px solid #9300b8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card p:hover {
    flex: 3.3;
    transform: rotate(0deg);
    transition: all .6s;
    img {
        height: 50%;
        width: auto;
        transform: translateY(-10vh);
    }
    span {
        opacity: 1;
    }
  }
  
  .card p span {
    border:white solid 1px;
    transition: all .6s;
    justify-content:center;
    opacity: 0;
  }

  .card p img {
    height: 100%;
    width: auto;
    transform: rotate(-90deg);
    transition: all .6s;
  }