/* Styles for the body */
body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #171717;
    background: rgb(14, 12, 14);
    background: linear-gradient(162deg, rgba(14, 12, 14, 1) 0%, rgba(21, 0, 42, 1) 48%, rgba(0, 0, 24, 1) 100%);
    color: #fff;
}

/* Styles for the container */
.title-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 96px;
    margin-top: 35vh;
    margin-left: calc(50% - 3.2em);
    margin-right: calc(50% - 3.2em);
}

/* Styles for the subheading */
.subheading {
    font-size: 32px;
    font-weight: normal;
    transition: opacity 0.5s ease-in-out;
}

/* Styles for the title */
.name {
    font-weight: bold;
    margin: -15px;
    padding-left: 10px;
}

/* Typewriter effect */
.typewriter {
    overflow: hidden;
    border-right: .15em solid #9300b8;
    white-space: nowrap;
    animation: typing 1.5s steps(30, end), blink-caret 1.3s infinite;
}

/* Keyframes for typing animation */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* Keyframes for blinking cursor */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: #9300b8;
    }
}

/* Initially hide the div */
#developerDiv {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* CSS class to trigger fade-in animation */
.fade-in {
    animation: fadeInAnimation 1s ease-in-out 1.5s forwards;
}

.fade-in-2 {
    animation: fadeInAnimation 1s ease-in-out 2.3s forwards;
}

/* Keyframes for fade-in animation */
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


a {
    color: #d735ff;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: #9300b8;
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s ease;
}

/* Styles for the section head */
.section-head {
    font-size: 58px;
    font-weight: normal;
    text-align: center;
}

/* Styles for the post container */
.post-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-right: 10vw;
    margin-left: 10vw;
}

/* Styles for the image box */
.image-box {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 240px;
    box-shadow: 0 0 20px rgb(226, 182, 255);
}

/* Styles for the text box */
.text-box {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 450px;
    height: 240px;
}

/* Hover styles for the image box */
.image-box:hover {
    box-shadow: 0 0 20px rgb(182, 73, 255);
    transition: 0.2s ease;
}

.btn-container {
    display: flex;
    justify-content: center;
    opacity: 0;
}

.btn-content {
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    border-radius: 100px;
    transition: 0.5s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    transform: rotate(90deg);
}

.btn-content:hover {
    transition: ease-in-out 0.5s;
    box-shadow: 0 0 20px rgb(226, 182, 255);
}

.icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
    transition: 0.5s;
    margin-right: 20px;
}

.icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 0%;
}

/* SVG */
#arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
}

#arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.btn-content #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
}

.btn-content #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.btn-content #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #a371b0;
    }

    100% {
        fill: #9300b8;
    }
}

.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.timeline-content {
    padding: 20px;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
}

.timeline-component {
    margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }

    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, white, #a371b0, #9300b8);
        width: 3px;
        height: 100%;
    }

    .main-middle {
        opacity: 0;
    }

    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, white, #a371b0, #9300b8);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}