/* Styles for the footer */
footer {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin-left: auto; /* Auto margin on the left */
    margin-right: auto; /* Auto margin on the right */
    text-align: center; /* Center text */
    margin-bottom: 2vh; /* Add margin at the bottom */
    display: block; /* Display as a block element */
}