
.card {
    width: 90vw;
    height: 40vw;
    border-radius: 4px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card p {
    height: 100%;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
    transition: all .6s;
    border: 1px solid #9300b8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card p:hover {
    flex: 3.3;
    transition: all .6s;
    transform: rotate(0deg);
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    grid-row: span 3;
    align-content: space-around;
    img {
        max-width:90%;
        height: auto;
        transform: rotate(0deg);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    span {
        opacity: 1;
        margin-inline: auto;
    }
  }
  
  .card p span {
    transition: all .6s;
    justify-content:center;
    opacity: 0;
  }

  .card p img {
    height: 100%;
    width: auto;
    transform: rotate(-90deg);
    transition: all .6s;
  }

@media only screen and (max-width: 768px) {
  .card {
      flex-direction: column;
      height: 90vh;
      margin: 0 auto 0;
  }
  .card p {
    margin: 0;
  }
  .card p img {
    width: 110%;
    height: auto;
    transform: rotate(0deg);
    transition: all .6s;
  }
}