{% extends "base.html" %} 
{% block content %}
<div class="container">
    <header>Hi, I'm Connor (again)</header>
    <p>I go to WPI!!!</p>
    <p>
        I should probably switch to JS for this
    </p>
    <a href="https://github.com/connor-jason" target="_blank">GitHub</a>
    <br>
    <a href="https://www.instagram.com/cjason_8?igsh=MXQ1ZXB5ejU2em45bg%3D%3D&utm_source=qr" target="_blank">Instagram</a>
    <br>
    <a href="https://open.spotify.com/user/cjason_8?si=1e09a4db834e47dd" target="_blank">Spotify</a>
    <br>
    <a href="https://linkedin.com/in/connor-jason" target="_blank">LinkedIn</a>
    <br>
</div>
{% endblock %}